<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケモン図鑑-検索-</title>
    <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">-->
    <link rel="stylesheet" href="{% static 'pokedex_search\pokedex.css' %}">
</head>
<body>
    <center>
        <div class="red">
            <div class="bluelight"></div>
            <div class="yellowlight"></div>
            <div class="greenlight"></div>
            <!--<div class="line"></div>-->
            <div class="display">
                {% load static %}
                <img class="pokepic" src='{% static "pokedex_search/question.png" %}'>
                <div class="dex_number">No.???</div>
                <ul class="statas">
                    <li><span class="name">なまえ：???</span></li>
                    <li><span class="tribe">???ポケモン</span></li>
                    <li><span class="hight">たかさ：???m</span></li>
                    <li><span class="weight">おもさ：???kg</span></li>
                </ul>
                <ul class="exp">
                    <li><span>ここにせつめいがひょうじされるよ</span</li>
                    <li><span>.</span></li>
                    <li><span>.</span></li>
                </ul>
            </div>
            <div class="input">
                <p>↓送った画像表示</p>
                <div>{{score}}</div>
                <form method="POST" action="{% url 'search' %}" class="submit" 
                
                enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>{{upload_form.as_p}}</div>
                    <p><input type="submit" name="dex_num"value="検索"></p>
                </form>
            </div>
        </div>
    </center>

</body>
</html>