<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケモン図鑑-検索-</title>
    <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">-->
    <link rel="stylesheet" href="{% static 'pokedex_search\pokedex.css' %}">
</head>
<body>
    <center>
        <div class="red">
            <div class="bluelight"></div>
            <div class="yellowlight"></div>
            <div class="greenlight"></div>
            <!--<div class="line"></div>-->
            <div class="display">
                {% load static %}
                <img class="pokepic" src='{% static "pokedex_search/question.png" %}'>
                <div class="dex_number">No.???</div>
                <ul class="statas">
                    <li><span class="name">なまえ：???</span></li>
                    <li><span class="tribe">???ポケモン</span></li>
                    <li><span class="hight">たかさ：???m</span></li>
                    <li><span class="weight">おもさ：???kg</span></li>
                </ul>
                <ul class="exp">
                    <li><span>ここにせつめいがひょうじされるよ</span</li>
                    <li><span>.</span></li>
                    <li><span>.</span></li>
                </ul>
            </div>
            <div class="input">
                <input type="file" name="input_pic" accept="image/jpeg, image/png">
                <p>↓テスト用の入力</p>
                <p class="error">{{error}}</p>
                <form method="POST" action="" class="submit">
                {% csrf_token %}
                <input type="text" name="dex_num" >
                <button type="submit">検索</button>
            </div>
        </div>
    </center>

</body>
</html>