<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケモン図鑑-検索-</title>
</head>
<body>
    <h2>pokedex</h2>
    <p>↓本命の入力</p>
    <input type="file" name="input_pic" accept="image/jpeg, image/png">
    <p>↓テスト用の入力</p>
    <div>{{error}}</div>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="dex_num" >
        <button type="submit">検索</button>
    </form>
</body>
</html>