
.red{
    background: #ff0000;
    border: 1px solid #999;
    height: 100ch;
    width: 100ch;
    text-align: left;

}
div >div{
    background: #ffffff;
    border: 1px solid #999;
    height: 50ch;
    width: 50ch;
    
    transform :translate(13ch,3ch);
}

.bluelight{
    width: 10ch;
    height: 10ch;
    border-radius: 50%;
    background: #191970;/*背景色*/
    transform :translate(4ch,3ch);
}
.yellowlight{
    width: 3ch;
    height: 3ch;
    border-radius: 50%;
    background: #ffff00;/*背景色*/
    transform :translate(20ch,-6ch);
}

.greenlight{
    width: 3ch;
    height: 3ch;
    border-radius: 50%;
    background: #008000;/*背景色*/
    transform :translate(25ch,-9ch);
}

.explanation{
    width:5ch;
    height:5ch;
    transform : translate(25ch,35ch);
}