@font-face { 
    font-family: "pkmn_font"; 
    /* フォントが置かれているパスを書く */ 
    src: local('/static/pokedex_search/pkmn_r.ttf') format('truetype'); 
  }


.red{
    background: #ed0000;
    border: 1px solid #999;
    height: 70ch;
    width: 60ch;
    text-align: left;
    border-top-left-radius: 3ch 3ch;
    border-top-right-radius: 3ch 3ch;
    font-family: "pkmn_font"; 

}
.statas{
    list-style: none; 
}
.display{
    /*background: #8bad0f;←ゲームボーイの液晶に近い色だが、取り込む画像が背景が白いので没*/
    background: #8BAC0F;
    border: 40px solid #EDF0E0;
    height: 23ch;
    width: 35ch;
    transform :translate(9ch,5ch);
}
.pokepic{
    height: 7ch;
    width: 7ch;
    transform:translate(3ch,2ch);
}

.dex_number{
    transform:translate(4ch,2ch);
}

.statas{
    transform: translate(15ch,-10ch);
}

.input{
    transform: translate(0ch,5ch);
}

.exp{
    transform : translate(-1ch,-8ch);
    list-style: none; 
}

.bluelight{
    width: 10ch;
    height: 10ch;
    border-radius: 50%;
    background: #191970;/*背景色*/
    transform :translate(4ch,3ch);
}
.yellowlight{
    width: 3ch;
    height: 3ch;
    border-radius: 50%;
    background: #ffff00;/*背景色*/
    transform :translate(20ch,-6ch);
}

.greenlight{
    width: 3ch;
    height: 3ch;
    border-radius: 50%;
    background: #008000;/*背景色*/
    transform :translate(25ch,-9ch);
}

.input_pic{
    width: 5ch;
    height: 5ch;
}