<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
    <link rel="stylesheet" href="{% static 'home\home.css' %}">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <script type="text/javascript"> 
        <!--javascriptを直書きしないと画像にアクセスできないので仕方なく直書き-->
        const images = ['{% static "home/Dragonite2.jpg" %}','{% static "home/Dragonite3.jpg" %}','{% static "home/Dragonite1.jpg"%}',];

        let num = -1;
        
        function slide_time() {
        if (num === 2) {
            num = 0;
        } else {
            num++;
        }
        document.getElementById("img_slide").src = images[num];
        }
        setInterval(slide_time, 3000);
    /*
        const music=new Audio("/static/home/opening.mp3")
        window.onload=function(){
            var sound_confirm=confirm('音声を再生します。よろしいでしょうか？');
            if (sound_confirm==True){
                music.play();
            }
        }
        setInterval(slide_time, 1300);
    */
    </script>
</head>
<body>
    <h1>pokedex  ポケモン図鑑</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">TOP</a></li>
            <li><a href="{% url 'summary' %}">概要</a></li>
            <li><a href="{% url 'history' %}">作製秘話</a></li>
            <li><a href="{% url 'updateinfo' %}">更新情報</a></li>
        </ul>
    </nav>

    <div id="contents">
        {% load static %}
        <div>TOP</div>
        <div><img id="img_slide" src='{% static "home/Dragonite1.jpg" %}'></div>
        <div>随時更新予定</div>
        <a href="{% url 'search' %}" class="btn btn--orange btn--radius" name="open_pokedex">図鑑を開く</a>
    </div>
    
</body>
</html>