<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
    <link rel="stylesheet" href="{% static 'home\home.css' %}">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>
<body>
    <name>pokedex  ポケモン図鑑</name>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">TOP</a></li>
            <li><a href="{% url 'summary' %}">概要</a></li>
            <li><a href="{% url 'history' %}">作製秘話</a></li>
            <li><a href="{% url 'updateinfo' %}">更新情報</a></li>
        </ul>
    </nav>
    <div>
        <div id="contents">
            更新情報
        </div>
    </div>
</body>
</html>