<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
</head>
<body>
    <center>
        <h1>pokedex  ポケモン図鑑</h1>
        {% load static %}
        <img src="{% static 'home\Dragonite.jpg' %}">
        <div>
            随時更新予定<br>
        </div>
        <button type="submit" name="open_pokedex">
            <a href="{% url 'search' %}">検索ページへ</a>
        </button>
    </center>   
</body>
</html>